body {
  background-color: #2b2b2b;
  color: #f5f5f5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

label {
  font-weight: bold;
}

.navbar {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  border-top: 5px black solid;
  border-bottom: 5px black solid;
  border-right: 5px black solid;
  height: 30px;
  width: 500px;
}

.nav-link {
  height: 20px;
  width: 100%;
  color: #ccc;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  border-left: 5px black solid;
  padding: 5px 10px 5px 10px;
}

.nav-link.active {
  color: #ff9800;
  font-weight: bold;
}

.dashboard, .report-generator {
  padding: 20px;
}

.card-lists {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.hot-cards, .cold-cards {
  width: 45%;
}

.card-item {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.card-item-data {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 0;
}

.card-item img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #444;
  padding: 20px;
  border-radius: 8px;
}

.modal-buttons button {
  margin: 0 10px;
}

.report-generator-container {
  display: flex;
  gap: 20px; /* space between columns */
}

.report-right-column {
  flex: 1; /* take remaining width */
}

.report-left-column {
  flex: 0 0 200px; /* fixed width for left column */
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
}

.report-form {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid black;
  padding: 15px;
  height: 360px;
}

.report-form-section {
  display: flex;
  flex-direction: column;
}

.report-form-radio-container {
  display: flex;
  flex-direction: column;
}

.report-form h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.report-form button {
  background-color: #d3d3d3;
  width: 100px;
}

.report-form select {
  background-color: #555;
  width: 60px;
  color: white;
}

.report-form input[type="number"] {
  background-color: #555;
  color: white;
  border: 2px black solid;
  width: 50px;
}

/* Optional styling for report history table */
.report-history table {
  width: 100%;
  border-collapse: collapse;
}

.report-history th,
.report-history td {
  padding: 4px 8px;
  border: 1px solid #555;
}

.report-history tr.selected {
  background-color: #444;
}

.report-results {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}